@model TakeIt.Models.User

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
@using (@Html.BeginForm("Register", "Home", FormMethod.Post))
{
@Html.TextBoxFor(m=>m.Username)
@Html.TextBoxFor(m => m.PhoneNumber)
@Html.TextBoxFor(m => m.Email)
@Html.PasswordFor(m=>m.Password)
    @Html.TextBoxFor(m=>m.ProflePicture)
     <input type="submit" name="SaveButton" value="Save" />
}